@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-primary-rgb: 232, 220, 180;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 40, 36, 37, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--foreground-primary-rgb));
}
